<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>sample.html</title>
</head>

<body>

	<div class="wrap">
	
		<div class="header">
			<h1>Job Fairy</h1>
		</div>
		
		<div class="container">
			<div class="content">
				<form class="form">
					<h2>구직자 관리 명단</h2>
					<input type="button" value="버튼">
					
					<select>								
						<option value="사원아이디">사원아이디</option>
						<option value="사원명">사원명</option>
						<option value="회원상태">회원상태</option>
					</select>
					
					<input type="search">
					<div></div>
					
					<table border="1">
						<tr>
							<th>사원아이디</th>
							<td>HR0001</td>
							<td>NP0001</td>
							<td>SL0001</td>
						</tr>
						<tr>
							<th>사원명</th>
							<td>아사히</td>
							<td>카즈마</td>
							<td>쿄</th>
						</tr>
						<tr>
							<th>회원상태</th>
							<td>활성화</td>
							<td>활성화</td>
							<td>비활성화</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
		
		<div class="footer">
			SSUNGNURRSSINGJJIN&copy;
		</div>

	</div>


</body>
</html>